@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");
* {
  margin:0;
  padding: -200;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(180, 14%, 3%);
  --dark-violet: hsl(260, 3%, 45%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(210, 3%, 13%);
  --very-dark-blue: hsl(255, 20%, 12%);
  --very-dark-violet: hsl(240, 5%, 4%);
}
body {
  font-size: 18px;
  font-family: "poppins", "san-serif";

  margin-inline: auto;
}

header {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  margin: 1.2 rem 0;
  margin-bottom: 1rem;
}


.left {
  display: flex;
  padding: 0.3rem 3.0rem;
}
.left ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.left ul a {
  text-decoration: none;
  padding: 0.2rem 1rem;
  color: var(--grayish-violet);
  cursor: pointer;
}

.right {
  margin-left: 0.5rem;
}
.right ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.right ul a {
  text-decoration: none;
  padding: 0.2rem 1rem;
  color: var(--grayish-violet);
  cursor: pointer;
}
.right ul .active {
  background: cyan;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  color: #fff;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 30rem;
}
.content h1 {
  font-size: 3rem;
  margin: 1.2 rem 0;
  display: block;
}


.image img {
  width: 85%;
}

input {
  padding: 0.6rem 0.3rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  margin: 0.5rem;
  flex: 1;
}
.input-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-blue);
  padding: 1rem 1.5rem;
  position: relative;
  width: min(100%, 40rem);
  border-radius: 0.3rem;
  overflow: hidden;
}
.input-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: rebeccapurple;
  font-size: 1rem;
  text-align: center;
  background: var(--gray);
  cursor: pointer;
  outline: none;
  border: none;
}

.services {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.service-content {
  max-width: 30rem;
}
.service-content p {
  color: var(--dark-violet);
}
.cards {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.card p {
  color: rgb(52, 44, 44);
}
.card {
  margin: 2rem;
  max-width: 20rem;
}
.card1 {
  background: #eff1f7;
  padding: 1rem 0.2rem;
  border-radius: 0.3rem;
}
.card2 {
  background: #eff1f7;
  padding: 1rem 0.2rem;
  border-radius: 0.3rem;
}
.card3 {
  background: #eff1f7;
  padding: 1rem 0.2rem;
  border-radius: 0.3rem;
}


.boost .btn {
  background: cyan;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 1.5rem;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--grayish-violet);
}

.footer-links {
  margin-top: 2rem;
}
ul li {
  color: var(--gray);
  margin: 0.2rem 0;
  list-style: none;
}
ul :nth-child(1) {
  color: #fff;
  font-weight: bold;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}
.social-links {
  padding: 0.3rem 1.0rem;
  margin-top: 0.1rem;
}


.result .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-inline: auto;
}

/* Mobile View */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .left ul .active {
    background: cyan;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    color: #fff;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 90%;
  }
  .content {
    margin-top: 5rem;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image img {
    width: 100%;
  }
  .content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark-violet);
    width: 90%;
  }
  input {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    width: 90%;
  }
  .input-btn {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    width: 90%;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 0.5rem;
  }
  .boost {
    background: var(--dark-violet);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
